
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@1,300;1,900&display=swap');
body{
  font-family: "Roboto" sans-serif ;
}

.navbar {
  background: var(--navbar);
  }
  .navbar a{
    font-size: 1rem;
    font-weight:500; 
    /* font-weight: bold; */
  }
.navbar a:hover{
  color:rgb(80, 40, 104) !important ; 
}

.navbar-brand{
  font-size: 1.5rem !important;
}
.navbar ul li a:active{
  font-weight: bolder ;
  border-bottom: 1px solid #9350b3  ;
}
#header h2{
  font-size: 24px;
  /* color: #6654a7; */
}
.contactbtn{
  color: #b1a0e5;
text-decoration: none;
border: 2px solid  #b1a0e5;
display: inline-block;
font-weight: 500;
font-size:16px  ;
border-radius: 50px;
letter-spacing: 1px;
padding: 10px 30px;
transition: 0.5s
}
.contactbtn:hover{
  background-color: #7363a5;
  color: white;
  ;
}
#header .btn-get-start{
color:#3498db;
text-decoration: none;
border: 2px solid #3498db;
display: inline-block;
font-weight: 500;
font-size:16px;
border-radius: 50px;
letter-spacing: 1px;
padding: 10px 30px;
transition: 0.5s;


}
.btn-cv{
  color:#3498db;
  text-decoration: none;
  border: 2px solid #3498db;
  display: inline-block;
  font-weight: 500;
  font-size:16px;
  border-radius: 50px;
  letter-spacing: 1px;
  padding: 10px 30px;
  transition: 0.5s;
}

.btn-cv:hover{
  background-color: #3498db;
  color: white;
}



#header .brand-name{
  /* color: #579cca; */
color: #3498db;
}

#header .btn-get-start:hover{
  background-color: #3498db;
  color: white;
  /* position: fixed; */
}

.header-img{
  text-align: right;
}
 .animated,.icons {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(10px);
  }
}

.icons {


font-size:2rem !important ;

}





/* .icons a {
  position: relative;
  color: #5fc7e0; 
  background-color: rgb(20, 20, 20);
  padding: 10px 20px 18px;
  border-radius: 38px;
  transition: color 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease;
  margin-bottom: 10px;
  cursor: pointer;
  color: white; 
  box-shadow: 0 0 15px #9d00ff;
  text-shadow: 0 0 15px #9d00ff;
}


.icons a:hover {
  color:  #5fc7e0; 
} */

.icons  a{
  position: relative;
  color: white;
  background-color :rgb(20, 20, 20);
  padding: 10px 20px 18px ;
  border-radius: 38px;
  transition: color 0.3s ease;
  margin-bottom: 10px;
  cursor: pointer;
} 
.icons a:before{
 /* color: #8a17a7 ; */
 /* #d35400 */
background: #9D00FF;
height: 100%;
width: 100%;
/* border-radius: 50%; */
z-index: -1;
transform: scale(0.9);
transition: 0.5s;
}
.icons a:hover::before{
  filter: blur(3px);
  transform: scale(1.2);
  box-shadow: 0 0 20px #9D00FF;
}

.icons a:hover{
  color:  #c5ba1a;
  box-shadow:0 0 15px #9D00FF ;
  text-shadow: 0 0 15px #9D00FF;
} 
@media (max-width: 768px) {
  .icons a {
    padding: 8px 16px 14px; /* Adjust padding for smaller screens */
    margin-bottom: 8px; /* Adjust margin for smaller screens */
  }
}

/* @keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */
  
#header h1{
  animation-duration: 2s;
  animation-name: slide;
}

@keyframes slide{
  from {
    margin-left: 14%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}




/* //darkmode  */
.dark_mode{
  margin-left: 10px;
  margin-top: -20px;
}
.dark_mode_label{
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background:#ebebeb ;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
  inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 5px;
}
.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}


:root{
  --body_background:white;
  --body_color: black;
  --navbar:linear-gradient(15deg, #13547a 10%, #80d0c7 100%)
 }

 [data-theme="dark"]{
  --body_background:#000220;
  --body_color:white;
  --navbar:linear-gradient(15deg, #80d0c7 10%,#13547a 100% )
 }

 * body  {
  background-color: var(--body_background);
  color: var(--body_color);
  transition: all 0.3s ease-in-out;


 }
 /* #282c34 */
 /* --navbar:linear-gradient(15deg,violet 1%,#383838  80%) */
